html {
    height: 100%;
}
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid black; */
}
.header {
    display: flex;
    flex: 0 0 auto;
    height: 10vh;
    border: 1px solid black;
    min-height: 30px;
}
.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    border: 1px solid black;
    min-height: 40px;
}
.footer {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 10vh;
    min-height: 30px;
    border: 1px solid black;
}